*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: azure;

}

.conatiner{
   
    width: 100%;
    height: 100vh;
    flex-direction: column;
    border: 2px solid black;
    
    background: url("stacked-waves-haikei\ \(1\).png") no-repeat;
    background-size: cover;

}
.box{
    width: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 2px 2px 5px rgb(154, 168, 52),-2px -2px 5px rgb(154,168,52);
    border-radius: 8px;
    backdrop-filter: blur(8px);
    padding: 20px 40px;

}
.signup-header{
    font-size: 1.4rem;
    text-align: center;
    padding: 5px 8px;

}
.signup-body p{
    margin-top: 20px;
}
.signup-body p i {
    position: absolute;
    top: 139px;
    right :45px;
    color: blue;
    font-size: 21px;

}

.signup-body p span{
    font-size: 15px;
    font-weight: 600;
    color: rgb(218, 231, 168);

    
}
.signup-body p label{
    font-size: 18px;
    font-weight: 600;

}
.signup-body p input{
    width: 100%;
    padding: 5px ;
    border-radius: 8px;
    font-size: 18px;
    margin-block: 4px;
    border: none;
    outline: none;
    color: black;
}

.signup-body p input[type="submit"]{
    border: none;
    outline: none;
    background-color: rgb(101, 101, 245);
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;


}
.signup-body p input[type="submit"]:hover{
    background-color: azure;
    color: black;
}
.signup-footer p{
    text-align: center;
    margin-top: 20px;
    font-weight: 700;

}
.signup-footer p a{
    text-decoration: none;
}
.signup-footer p a:hover{
    text-decoration:underline ;
    background-color: black;
    color: aliceblue;

}

